html, body, #root, .app {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

/* Background layer */
.background {
  position: fixed;
  inset: 0;
  z-index: -1;
}

/* Foreground content */
.content {
  position: relative;
  z-index: 1;
  color: white;
  padding: 2rem;
}

.priority-low{
  border-left: 3px solid green;
}

.priority-medium {
  border-left: 3px solid orange
}

.priority-high {
  border-left: 3px solid red;
}

.text-strike{
  text-decoration: line-through;
}

.todo-item{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  cursor: pointer;
  margin: 5px;
  width: 100vh;
}